<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SummerizeMate"
        tools:targetApi="31">
        <activity
            android:name=".modelsheets.editProfileModel"
            android:exported="false" />
        <activity
            android:name=".modelsheets.editPasswordModel"
            android:exported="false" />
        <activity
            android:name=".modelsheets.editSummeryModel"
            android:exported="false" />
        <activity
            android:name=".modules.ViewSavedSummmeryScreen"
            android:exported="false" />
        <activity
            android:name=".modelsheets.savedSummeryDeleteModel"
            android:exported="false" />
        <activity
            android:name=".modelsheets.saveConformationModel"
            android:exported="false" />
        <activity
            android:name=".modules.ResultScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.ProfileScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.SavedScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.RecentScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.SignupScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.LoginScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.OnStartScreenActivity"
            android:exported="false" />
        <activity
            android:name=".modules.OnboardingScreen03"
            android:exported="false" />
        <activity
            android:name=".modules.OnboardingScreen02"
            android:exported="false" />
        <activity
            android:name=".modules.OnboardingScreen01"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>